.task-form-input {
    margin-top: 10px;
    margin-left: 10px;

    /* bro what */
    input[id="task-name"] {
        width: 200px;
        height: 15px;
        font-size: 12px;
    }

    .task-desc {
        text-wrap: wrap;
        text-align: start;
        width: 200px;
        height: 60px;
        font-size: 12px;
    }

    .task-form-input-button-submit {
        height: 25px;
        width: 100px;
    }
}

.selects {
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

input[type="text"] {
    border: 1px solid rgb(144, 144, 219);
}

input[type="text"]:focus {
    border: 1px solid rgb(194, 182, 160);
}